

$pink: #cd7c8d;
$pink-too-dark: #57212d;

$blue: #b3cfe8;
$blue-too-dark: #3473ab;

$green: #b3cfe8;
$green-too-dark: #3473ab;


// Pinks & Roses
$pink-medium:     #CD7C8D;
$pink-light:      #F1DEE1;
$pink-muted:      #DEAEB7;
$pink-dark:       #AA5A6C;
$pink-deep:       #7B404D;
$pink-darkest:    #4B252D;
$pink-black:      #200C11;

// Teals & Greens
$teal-medium:     #7CCDBC;
$teal-light:      #A8F3E3;
$teal-dark:       #62A496;
$teal-deeper:     #4C8175;
$teal-darkest:    #355C53;
$teal-black:      #1D3631;
$teal-night:      #081512;

// Grays & Neutrals
$gray-lightest:   #EDEFF0;
$gray-light:      #C2C9CC;
$gray-medium:     #9BA3A8;
$gray-dark:       #7B8285;
$gray-deeper:     #595F61;
$gray-darkest:    #383B3D;
$gray-black:      #191B1C;