@use '_colours' as *;

header {

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    border-bottom: 1px solid $gray-lightest;
    z-index: 99;

    svg#owl {

        position: absolute;
        top: 1rem;
        left: 1.5rem;
        height: 4rem;
        width: auto;

        path  {
            fill: $teal-darkest;
        }
        
    }

    .container {

        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    nav {

        ul li {
            padding: 0 .75rem;
        }
    }

    h1 {

        color: black;
        margin: 0.75rem;

        
        span {
            color: $teal-dark;
        }
    }
}