.container-large {
    max-width: 1200px;
}

.container-small {
    max-width: 900px;
}

.container-smaller {
    max-width: 690px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    > * {
        flex: 1;
    }
}

.flex-stretch {

    align-items: stretch;
}